<!DOCTYPE html>
<html>
<head>
  <title>Flight Tracking Table</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/phoenix@1.7.18/priv/static/phoenix.min.js" integrity="sha256-7Uo2+T+X554qNyf2rxVUH/8RMegoaXkV/NeFd3g8UZ8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/morphdom@2.7.4/dist/morphdom-umd.min.js" integrity="sha256-feEo1hd4FC9l3NfuAtbyoqLfoIa/UI0wg95LQuvkZMw=" crossorigin="anonymous"></script>
  <script src="/static/table/script.js"></script>
</head>
<body>
  <div class="container mt-4">
    <h1>Flight Tracking Data <span id='total-flights'>0</span></h1>
    <div id="table-container">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>SEQ</th>
            <th>ICAO24</th>
            <th>Timestamp</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Altitude</th>
          </tr>
        </thead>
        <tbody id="flight-data-body">
          <!-- Dynamic rows will be inserted/updated here -->
        </tbody>
      </table>
    </div>
  </div>

  <template id="row-template">
    <tr id="data-{icao24}">
      <td class="seq">{seq}</td>
      <td class="icao24">{icao24}</td>
      <td class="timestamp">{timestamp}</td>
      <td class="latitude">{latitude}</td>
      <td class="longitude">{longitude}</td>
      <td class="altitude">{altitude}</td>
    </tr>
  </template>
</body>
</html>

