[package]
name = "tangram_core"
version = "0.1.0"
edition = "2021"

[lib]
name = "tangram_core"
crate-type = ["cdylib", "rlib"]

[dependencies]
# stream
anyhow = "1.0"
futures = "0.3"
redis = { version = "0.29", features = ["tokio-comp"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tracing = "0.1"

# channel (optional)
axum = { version = "0.8", features = ["ws"], optional = true }
channel = { git = "https://github.com/emctoo/channel.git", tag = "v0.2.8", optional = true }
tower-http = { version = "0.6", features = ["fs", "trace", "cors"], optional = true }
thiserror = { version = "2.0", optional = true }

# pyo3
pyo3 = { version = "0.27", features = ["extension-module"], optional = true }
pyo3-async-runtimes = { version = "0.27", features = ["attributes", "tokio-runtime"], optional = true }
pyo3-stub-gen = { version = "0.17", optional = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"], optional = true }

[[bin]]
name = "stub_gen_core"
path = "src/bin/stub_gen.rs"
required-features = ["pyo3"]

[features]
default = []
channel = ["dep:axum", "dep:channel", "dep:tower-http", "dep:thiserror"]
pyo3 = [
    "dep:pyo3",
    "dep:pyo3-async-runtimes",
    "dep:pyo3-stub-gen",
    "dep:tracing-subscriber",
    "channel",
]