host: 0.0.0.0
port: 18000
reload: true
log_dir: /tmp

log_config:
  version: 1
  disable_existing_loggers: False
  formatters:
    default:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(filename)s:%(lineno)s - %(message)s'
    access:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
    tangram:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(filename)s:%(lineno)s - %(message)s'
  handlers:
    default:
      formatter: default
      class: logging.StreamHandler
      stream: ext://sys.stderr
    access:
      formatter: access
      class: logging.StreamHandler
      stream: ext://sys.stdout
    tangram:
      formatter: tangram
      class: logging.FileHandler
      filename: tangram.log
      encoding: utf-8
    httpx_file:
      formatter: default
      class: logging.FileHandler
      filename: httpx.log
      encoding: utf-8
    rs1090_file:
      formatter: default
      class: logging.FileHandler
      filename: rs1090.log
      encoding: utf-8
    rs1090_source_file:
      formatter: default
      class: logging.FileHandler
      filename: rs1090-source.log
      encoding: utf-8
    trajectory:
      formatter: default
      class: logging.FileHandler
      filename: trajectory.log
  loggers:
    uvicorn.error:
      level: INFO
      handlers:
        - default
      propagate: no
    uvicorn.access:
      level: INFO
      handlers:
        - access
      propagate: no
    tangram:
      level: DEBUG
      qualname: tangram
      handlers:
        - tangram
      propagate: no
    tangram.plugins.common.rs1090:
      level: DEBUG
      qualname: tangram.plugins.common.rs1090
      handlers:
        - rs1090_file
      propagate: no
    tangram.plugins.rs1090_source:
      level: DEBUG
      qualname: tangram.plugins.rs1090_source
      handlers:
        - rs1090_source_file
      propagate: no
    tangram.plugins.rs1090_trajectory:
      level: DEBUG
      qualname: tangram.plugins.rs1090_trajectory
      handlers:
        - trajectory
      propagate: no
    httpx:
      level: WARNING
      qualname: httpx
      handlers:
        - httpx_file
      propagate: no
    root:
      level: WARNING
      handlers:
        - default
      propagate: no
