<!DOCTYPE html>
<!-- <meta http-equiv="Cache-Control" content="no-cache"> -->

<head>
  <title>Mode S based turbulence detection</title>
  <link
    rel="stylesheet"
    href="{{ url_for('base.serve_static', filename='bootstrap.min.css') }}"
  />
  <link
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=B612&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css"
  />
  <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-rotatedmarker@0.2.0/leaflet.rotatedMarker.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/leaflet.heat@0.2.0/dist/leaflet-heat.min.js"
  ></script>
  <link
    rel="stylesheet"
    href="{{ url_for('base.serve_static', filename='user.css') }}"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.fullscreen@latest/Control.FullScreen.css"
  />
  <script
    type="text/javascript"
    src="https://unpkg.com/leaflet.fullscreen@latest/Control.FullScreen.js"
  ></script>
</head>

<body>
  <div class="container-fluid">
    <h1>
      Mode S based turbulence detection
      <div class="pull-right">
        <a
          class="btn btn-sm btn-success"
          href="{{url_for('base.home_page',history=0)}}"
        >
          <span class="glyphicon glyphicon-refresh"></span>&nbsp; Live</a
        >
        <button class="btn btn-sm btn-success" id="databasebutton">
          Database History
        </button>
        <button class="btn btn-sm btn-success" id="parambutton">
          Set Parameters
        </button>
      </div>
    </h1>
    <hr />
    {% block body %} {% endblock %}
  </div>
</body>
