version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # tangram_{jet1090|ship162} ---> tangram_history ---> deltalake-core ---> arrow
      #             \_______________________________________________________/
      - dependency-name: "arrow-*"
        update-types: ["version-update:semver-major", "version-update:semver-patch", "version-update:semver-minor"]
      # regression in https://redirect.github.com/Jij-Inc/pyo3-stub-gen/pull/345
      - dependency-name: "pyo3-stub-gen"
        versions: [">=0.17"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
