# generated cargo/frontend artifacts
packages/tangram_*/src/tangram_*/package.json
dist-frontend/
node_modules/
/target/
/dist/
packages/tangram_*/src/tangram_*/*.so
packages/tangram_*/src/tangram_*/*.pyd

# python
__pycache__/
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.venv/
/.venv_whl/

# zensical
/.cache/
/site/

# misc
.vscode/
.DS_Store
