site_name: tangram
site_description: an open platform for modular, real-time air traffic management research
repo_name: open-aviation/tangram
repo_url: https://github.com/open-aviation/tangram
site_url: https://mode-s.org/tangram/
nav:
  - Home: "index.md"
  - Quickstart: "quickstart.md"
  - Configuration: "configuration.md"
  - Architecture:
    - "architecture/index.md"
    - channel: "architecture/channel.md"
  - Plugins:
    - "plugins/index.md"
    - "plugins/backend.md"
    - "plugins/frontend.md"
    - Built-in:
      - "plugins/system.md"
      - "plugins/history.md"
      - "plugins/jet1090.md"
      - "plugins/ship162.md"
      - "plugins/weather.md"
      - "plugins/airports.md"
    - Examples:
      - "plugins/examples/citypair.md"
      - "plugins/examples/sensors.md"
      - "plugins/examples/windfield.md"
  - API Reference:
    - "api/core.md"
    - "api/system.md"
    # for some reason history is not detected by mkdocstrings, so we exclude it
    - "api/jet1090.md"
    - "api/ship162.md"
    - "api/weather.md"
  - Contribute: "contribute.md"

theme:
  name: material
  logo: icons/favicon.png
  favicon: icons/favicon.ico
  features:
    - content.code.annotate
    - content.code.copy
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - search.highlight
    - search.suggest
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github

extra_css:
  - css/extra.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          # explicitly specifying the paths so we can do `uv sync --group docs && uv run mkdocs build`
          # without installing the entire project
          paths:
            - packages/tangram_core/src
            - packages/tangram_jet1090/src
            - packages/tangram_weather/src
            - packages/tangram_system/src
            - packages/tangram_ship162/src
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://fastapi.tiangolo.com/objects.inv
          options:
            # member
            inherited_members: true
            members_order: source
            # signature
            separate_signature: true
            show_signature_annotations: true
            # docstring
            docstring_style: sphinx
            docstring_section_style: table
            signature_crossrefs: true
            show_source: true
            # heading
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_root_heading: true

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.blocks.tab:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      baselevel: 1

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/open-aviation/tangram