[project]
name = "tangram_workspace"
version = "0.2.0"
requires-python = ">=3.10"
dependencies = []
classifiers = [
    "Private :: Do Not Upload"
]

[dependency-groups]
dev = [
    "ipykernel>=6.29.5",
    { include-group = "build" },
    { include-group = "test" },
    { include-group = "typing" },
    { include-group = "lint" },
]
build = [
    "maturin[patchelf]>=1.9.3; platform_system != 'Windows'",
    "maturin>=1.9.3; platform_system == 'Windows'",
]
test = ["pytest>=8.4.1", "anyio>=4.8.0"]
lint = ["ruff>=0.12.7"]
typing = ["mypy>=1.17.1"]
docs = [
    "mkdocs-material[imaging]>=9.6.18",
    "mkdocstrings-python>=1.18.2",
]

[tool.uv.workspace]
members = ["packages/tangram_*"]

[tool.mypy]
python_version = "3.10"
platform = "posix"

color_output = true
pretty = true
show_column_numbers = true
strict = true
check_untyped_defs = true
ignore_missing_imports = true
warn_no_return = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.ruff]
line-length = 88
target-version = "py310"
extend-exclude = [
    "*.pyi",   # don't format files generated by pyo3_stub_gen
]

[tool.ruff.lint]
select = [
    "E",
    "W",   # pycodestyle
    "F",   # pyflakes
    "I",   # isort
    "NPY", # numpy
    "DTZ", # flake8-datetimez
    "RUF",
]
