[package]
name = "tangram_core"
description = "A framework for real-time analysis of ADS-B and Mode S surveillance data"
readme = "readme.md"
authors = ["Abraham Cheung <abraham@ylcheung.com>", "Xiaogang Huang"]
version.workspace = true
license = "AGPL-3.0 AND MIT"
edition.workspace = true
repository.workspace = true
homepage.workspace = true


[lib]
name = "tangram_core"
crate-type = ["cdylib", "rlib"]

[dependencies]
# stream
anyhow = "1.0"
futures = "0.3"
redis = { version = "0.29", features = ["tokio-comp"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tracing = "0.1"

# channel
axum = { version = "0.8", features = ["ws"], optional = true }
tower-http = { version = "0.6", features = ["fs", "trace", "cors"], optional = true }
thiserror = { version = "2.0", optional = true }
serde_tuple = { version = "1.1", optional = true }
nanoid = { version = "0.4", optional = true }
chrono = { version = "0.4", optional = true }
jsonwebtoken = { version = "9.3", optional = true }
rand = { version = "0.9", optional = true }
itertools = { version = "0.14", optional = true }

# pyo3
pyo3 = { version = "0.27", features = ["extension-module"], optional = true }
pyo3-async-runtimes = { version = "0.27", features = ["attributes", "tokio-runtime"], optional = true }
pyo3-stub-gen = { version = "0.16", optional = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"], optional = true }

[dev-dependencies]
tokio-tungstenite = "0.28"  # for unit tests in websocket.rs


[[bin]]
name = "stub_gen_core"
path = "src/bin/stub_gen.rs"
required-features = ["stubgen"]

[features]
default = []
channel = [
    "dep:axum", 
    "dep:tower-http", 
    "dep:thiserror",
    "dep:serde_tuple",
    "dep:nanoid",
    "dep:chrono",
    "dep:jsonwebtoken",
    "dep:rand",
    "dep:itertools"
]
pyo3 = ["dep:pyo3", "dep:pyo3-async-runtimes", "dep:tracing-subscriber", "channel"]
stubgen = ["pyo3", "dep:pyo3-stub-gen"]
