html,
body,
#container-map {
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: var(--t-bg);
  color: var(--t-fg);
}

#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: auto;
}

#chart {
  border: none;
}

body {
  font-family: "B612", sans-serif;
}

/* get rid of ugly up/down arrows on inputs */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}