<head>
  <meta charset="utf-8">
  <title>Radarcape</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://www.grendelman.net/leaflet/leaflet-liveupdate/leaflet-liveupdate.js"></script>
  {% assets "rotatedmarker_library.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

</head>

<body>
  <div id="map" style="height: 100%">
    {% assets "map_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </div>
</body>