<head>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</head>

<body>
  <p id='demo'></p>
  <div id="map" style="height: 100%">
    <script type="text/javascript">

      // The first parameter are the coordinates of the center of the map
      // The second parameter is the zoom level

      var planes = L.layerGroup();
      var trajectories = L.layerGroup();
      var sigmets = L.layerGroup();

      function onEachFeature(feature, layer) {
        var popupContent = "<p>ICAO: " +
          feature.properties + "</p>";
        layer.bindPopup(popupContent);
      }

      function onEachSigmet(feature, layer) {
        var popupContent = "<p>id Sigmet: " +
          feature.properties.idSigmet + "<br>" + feature.properties.hazard + "</p>";
        layer.bindPopup(popupContent);
      }


      $.getJSON("results.geojson", function (data) {
        L.geoJson(data, {
          onEachFeature: onEachFeature
        }).addTo(planes);
      });

      $.getJSON("traj.geojson", function (data) {
        L.geoJson(data, {
          onEachFeature: onEachFeature
        }).addTo(trajectories);
      });

      $.getJSON("sigmet.geojson", function (data) {
        L.geoJson(data, {
          style: function (feature) {
            var d = feature.properties.hazard
            return d == "TS" ? { color: 'red' } :
              d == "TURB" ? { color: 'blue' } :
                d == "MTW" ? { color: 'yellow' } :
                  d == "ICE" ? { color: 'gray' } :
                    { color: 'black' };
          },
          onEachFeature: onEachSigmet
        }).addTo(sigmets);
      });

      var layer = L.tileLayer(
        "http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png",
        {
          attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
        }
      );
      var overlays = {
        "Planes": planes,
        "Trajectories": trajectories,
        "Sigmets": sigmets
      };

      var map = L.map("map", { layers: [planes] }).setView([43.57155, 1.47165], 7);

      L.control.scale().addTo(map);
      L.control.layers(overlays).addTo(map);
      map.addLayer(layer);
    </script>
  </div>
</body>