[Unit]
Description=Redirect UDP shit
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/junzisun/miniconda3/bin/python /home/junzisun/turbulences/src/turbulence/scripts/feedagain.py

[Install]
WantedBy=multi-user.target