[package]
name = "tangram_history"
description = "tangram plugin to store and query historical data"
readme = "../readme.md"
authors = ["Abraham Cheung <abraham@ylcheung.com>"]
version.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true

[lib]
name = "tangram_history"
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1.0"
futures = "0.3"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tracing = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
redis = { version = "1.0.2", features = ["tokio-comp"] }
base64 = "0.22"
uuid = { version = "1", features = ["v4"] }

# client feature
arrow-array = { version = "56.2.0", optional = true }
arrow-schema = { version = "56.2.0", optional = true }
arrow-ipc = { version = "56.2.0", optional = true }

# server feature
dashmap = { version = "6.1", optional = true }
url = { version = "2.5", optional = true }
chrono = { version = "0.4", optional = true }
deltalake = { version = "0.29.4", features = ["datafusion"], optional = true }

# pyo3
pyo3 = { version = "0.27", features = ["extension-module"], optional = true }
pyo3-async-runtimes = { version = "0.27", features = [
    "attributes",
    "tokio-runtime",
], optional = true }
pyo3-stub-gen = { version = "0.16", optional = true }
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
], optional = true }

[[bin]]
name = "stub_gen_history"
path = "src/bin/stub_gen.rs"
required-features = ["stubgen"]

[features]
client = ["dep:arrow-array", "dep:arrow-schema", "dep:arrow-ipc"]
server = ["client", "dep:dashmap", "dep:url", "dep:chrono", "dep:deltalake"]
pyo3 = ["dep:pyo3", "dep:pyo3-async-runtimes", "dep:tracing-subscriber"]
stubgen = ["pyo3", "server", "dep:pyo3-stub-gen"]
