@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic");
@import url("https://fonts.googleapis.com/css?family=B612+Mono:400,700,400italic");

html,
body,
#container-map {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/*body {
  // height of .navbar, customize with @navbar-height variable
  padding-top: 50px;
}*/
.navbar {
  min-height: 50px;
}

#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: auto;
}

.chart-container {
  height: fit-content;
  width: fit-content;
}

#myChart {
  width: 100%;
  height: 100%;
}

#chart-pane {
  position: absolute;
  right: 10px;
  z-index: 400;
  padding: 1em;
  background: white;
  display: none;
  width: 500px;
  height: auto;
  opacity: 0.8;
}
#chart{
  border: none;
}

div.form {
  float: right;
  clear: right;
  width: 300px;
  border: 1px solid #bab0ac;
  padding: 10px;
}

body {
  font-family: "B612", sans-serif;
}

span.monospace {
  font-family: "B612", sans-serif;
  font-size: 85%;
}

.smaller td {
  font-size: 95%;
}

table a:not(.btn),
.table a:not(.btn) {
  text-decoration: none;
}

a.flag {
  position: relative;
  cursor: pointer;
  color: #2c3e50;
}

a.flag:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 1.7em;
  left: 0.5em;
  border: 1px #18bc9c solid;
  border-radius: 5px;
  padding: 4px;
  color: whitesmoke;
  background-color: #18bc9c;
  text-align: center;
  font-size: 90%;
  width: max-content;
  z-index: 1;
}

.w20pc {
  width: 20%;
}

.center {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1000px; */
}

.copyright_label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.aircraft_img {
  fill: #f9fd15;
}

.aircraft_selected {
  fill: green;
}

.turb_selected {
  stroke: red;
  stroke-width: 15px;
  z-index: -1;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}



/* @media (min-width: 768px) {
  .leaflet-sidebar {
    top: 10px;
    bottom: 10px;
    transition: width 500ms;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar {
    width: 305px;
    max-width: 305px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-sidebar {
    width: 305;
    max-width: 390px;
  }
}

@media (min-width: 1200px) {
  .leaflet-sidebar {
    width: 460px;
    max-width: 460px;
  }
} */



.info_value_normal td {
  padding: 1px 8px 4px 8px;
  font-family: "B612", sans-serif;
  margin: 0px;
  vertical-align: top;
  border-bottom: 1px solid #e7e7e7;
  background-color: #ffffff;
}
span#uptime {
  font-size: 9pt;
  text-align: center;
}
