<!DOCTYPE html>

<head>
  <title>Mode S based turbulence detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}" />
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://www.grendelman.net/leaflet/leaflet-liveupdate/leaflet-liveupdate.js"></script>
  {% assets "rotatedmarker_library.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js">
    </script>
</head>

<body>
  <div class="container">
    <h1>
      Mode S based turbulence detection
      <div class="pull-right">
        <a class="btn btn-sm btn-primary" href="{{url_for('base.home_page')}}">
          <span class="glyphicon glyphicon-send"></span>&nbsp; Home</a>
        <a class="btn btn-sm btn-success" href="{{url_for('base.home_page',history=False)}}">
          <span class="glyphicon glyphicon-refresh"></span>&nbsp; Live</a>
        <a class="btn btn-sm btn-success" href="{{url_for('history.dir_listing')}}">
          <span class="glyphicon glyphicon-leaf"></span>&nbsp; History</a>
      </div>
    </h1>
    <hr />
    {% block body %} {% endblock %}
  </div>
</body>