<head>
  <meta charset="utf-8">
  <title>Radarcape</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://www.grendelman.net/leaflet/leaflet-liveupdate/leaflet-liveupdate.js"></script>
  {% assets "rotatedmarker_library.js" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script data-require="jquery" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script data-require="bootstrap" data-semver="3.3.6"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0-rc.1/Chart.bundle.js"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  {% assets "chart_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <div id="map" style="height: 100%">
    {% if history == true %}
    {% assets "map_history" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% else %}
    {% assets "map_live" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endif %}

  </div>
  <div>
    <canvas id="myChart" max-width="100" max-height="100" style="display:none"></canvas>
  </div>
</body>