{% extends "layout.html" %}

{% block body %}
<var id="seconds_uptime" hidden="hidden">{{uptime}}</var>
<div id="container-map">
  <div id="sidebar" class="leaflet-sidebar collapsed">
    <div class="leaflet-sidebar-tabs">
      <ul role="tablist">
        <li>
          <a href="#info_box" role="tab"><span class="fa fa-plane"></span></a>
        </li>
      </ul>
    </div>
    <div class="leaflet-sidebar-content">
      <div class="leaflet-sidebar-pane" id="info_box">
        <table class="info_box_table">
          <thead>
            <tr class="info_header">
              <td colspan="2">System Information</td>
            </tr>
          </thead>
          <tbody>
            <tr class="info_label">
              <td>UTC</td>
              <td class="info_value">
                <p style="display: inline" id="info_utc"></p>
              </td>
            </tr>
            <tr class="info_label">
              <td>local</td>
              <td class="info_value">
                <p style="display: inline" id="info_local"></p>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="info_label">
              <td>uptime</td>
              <td>
                <b>
                  <p style="display: inline" id="uptime"></p>
                </b>
              </td>
            </tr>

            <tr class="info_label">
              <td>aircraft on map</td>
              <td>
                <b>
                  <p style="display: inline" id="plane_count"></p>
                </b>
              </td>
            </tr>
            <tr class="info_label">
              <td>SIGMET</td>
              <td>
                <b>
                  <p style="display: inline" id="sigmet_count"></p>
                </b>
              </td>
            </tr>
            <tr class="info_label">
              <td>AIREP</td>
              <td>
                <b>
                  <p style="display: inline" id="airep_count"></p>
                </b>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="info_box_table" id="flight" hidden="true">
          <thead>
            <tr class="info_header">
              <td colspan="2">Flight Information</td>
            </tr>
          </thead>
          <tbody>
            <tr class="info_label">
              <td>icao24</td>
              <td class="info_value">
                <p style="display: inline" id="icao"></p>
              </td>
            </tr>
            <tr class="info_label">
              <td>callsign</td>
              <td class="info_value">
                <p style="display: inline" id="aircraft_id"></p>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="info_label">
              <td>typecode</td>
              <td>
                <p style="display: inline" id="typecode"></p>
              </td>
            </tr>
            <tr class="info_label">
              <td>identifier</td>
              <td>
                <p style="display: inline" id="flight_id"></p>
              </td>
            </tr>
            <tr class="info_label">
              <td>origin</td>
              <td>
                <p style="display: inline" id="departure"></p>
              </td>
            </tr>
            <tr class="info_label">
              <td>destination</td>
              <td>
                <p style="display: inline" id="destination"></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

{#  <div class="form" id="database_form" style="display: none">#}
{#    <form action="" method="POST" name="databaseform">#}
{#        {{ form_database.csrt_token }}#}
{#        {{ form_database.startdate.label }}#}
{#        {{ form_database.startdate(class='datepicker') }}#}
{#        {{ form_database.starttime(class='timepicker') }}#}
{#        {{ form_database.hidden_tag() }}#}
{#        {{ form_database.enddate.label }}#}
{#        {{ form_database.enddate(class='datetimepicker') }}#}
{#        {{ form_database.endtime(class='timepicker') }}#}
{#        {{ form_database.hidden_tag() }}#}
{#      <input type="submit" value="Submit" />#}
{#    </form>#}
{#  </div>#}
{##}
{#  <div class="form" id="threshold_form" style="display: none">#}
{#    <form action="" method="POST" name="f_threshold">#}
{#        {{ form_threshold.csrt_token }}#}
{#        {{ form_threshold.threshold.label }}#}
{#        {{ form_threshold.threshold() }}#}
{#        {{ form_threshold.hidden_tag() }}#}
{#        <br />#}
{#        {{ form_threshold.multiplier.label }}#}
{#        {{ form_threshold.multiplier() }}#}
{#        {{ form_threshold.hidden_tag() }}#}
{#      <input type="submit" value="Submit" />#}
{#    </form>#}
{#  </div>#}

  <div id="map">
    {% if history == 1 %}
        <script type="text/javascript" src="{{ url_for('static', path='/js/map_filter_functions.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', path='/js/map_history.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ url_for('static', path='/js/map_live.js') }}"></script>
    {% endif %}
    <div id="Chart" class="leaflet-bar chart-container"></div>
  </div>
</div>
<script>
  let form_database = document.getElementById("databasebutton");
  form_database.addEventListener("click", myfunction);
  form_database.name = "database_form";

  let form_threshold = document.getElementById("parambutton");
  form_threshold.addEventListener("click", myfunction);
  form_threshold.name = "threshold_form";

  function myfunction(evt) {
    let x = document.getElementById(evt.currentTarget.name);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endblock %}
