<html>

<head>
    <title>Leaflet TimeDimension Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
    <script data-require="jquery" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<p id="test">dfgh,</p>

<body>
    <div id="map" style="height: 100%; width: 100%"></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>


    <canvas id="myChart" width="400" height="400"></canvas>
    <script type="text/javascript" src="static/js/example.js"></script>


</body>

</html>